<footer>
  <p>© 2024 جميع الحقوق محفوظة لمتجرنا</p>
  <ul>
    <li><a href="/privacy-policy">سياسة الخصوصية</a></li>
    <li><a href="/terms-of-service">الشروط والأحكام</a></li>
  </ul>
</footer>
