<div class="hero-banner" style="background-image: url('{{ section.settings.banner_image | asset_url }}');">
  <h1>{{ section.settings.banner_text }}</h1>
  <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_text }}</a>
</div>
